exportPattern("^[[:alpha:]]+")

importFrom("graphics", "lines", "plot.default")
importFrom("stats", "filter", "na.omit", "optimize")
importFrom("utils", "str")
importFrom("stats", "update")

import(ggplot2)

importFrom(magrittr,"%>%")
export("%>%")

S3method(fitted, ES)
S3method(forecast_lines, ES)
S3method(forecast, DES)
S3method(forecast, SES)
S3method(plot, ES)
S3method(residuals, ES)
